.top-widget {
	position: relative;
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease;
}

.top-widget-open {
	height: 40px;
}

.top-widget .container {
	padding: 0 20px;
}

.widget-header {
	margin: 10px 0 0;
	font-size: 1.4rem;
	float: left;
	width: 140px;
}

.inline-list {
	float: left;
	margin: 8px 0 0;
	padding: 0;
	list-style-type: none;
}

.inline-item {
	float: left;
	width: 80px;
	margin-right: 10px;
}

.inline-item a {
	display: block;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	text-decoration: none;
	border-radius: 4px;
	font-size: 1rem;
	text-transform: uppercase;
}

.inline-item a:hover,
.inline-item .selected {
	background: rgba(255, 255, 255, 0.3);
}

.specter {
	background: #ADA7C9;
}

.specter .site-header {
	background: #485455;
}

.specter .site-content {
	background: #C9D5DA;
}

.specter .site-content .container {
	color: #333;
}

.rooftop {
	background: #1F2C3C;
}

.rooftop .site-header {
	background: #4B5964;
}

.rooftop .site-content {
	background: #AAABA3;
}
